.aroundApp {
  max-width: 740px;
  margin: 70px auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 20px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.myWeather {
  font-family: "Lustria", serif;
  background-image: linear-gradient(#40a8c4, #a2d5f2, #e8f0f2);
  border-radius: 16px;
  box-shadow: 5px 8px 15px #1354d6;
  padding: 40px;
  color: #1b1b1b;
}

.enter-city {
  background: #fff8f3;
  border: none;
  padding: 30px 40px;
  display: inline-block;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.enter-city:focus {
  color: #1354d6;
  background-color: #fff8f3;

  outline: 0;
  box-shadow: 2px 2px 8px 1px #1c6dd0;
}
#search-button {
  background-image: linear-gradient(#fff323, #ff5403);
  color: whitesmoke;
  border: none;
  font-weight: bold;
  padding: 30px 30px;
  display: inline-block;
  border-radius: 30px;
  font-size: 16px;
  height: 50px;
  line-height: 5px;
}
#search-button:focus {
  outline: 0;
  box-shadow: 2px 2px 8px 1px #1c6dd0;
}

#current-weather.row {
  margin-top: 65px;
}

ul {
  list-style: none;
}

#link-to-git {
  display: block;
  margin: zero auto;
  font-family: monospace;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}
