.aroundApp {
  max-width: 740px;
  margin: 70px auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 20px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.myWeather {
  font-family: "Trirong", serif;
  background-image: linear-gradient(#ebe645, #ebe645, #40a8c4, #a2d5f2);
  border-radius: 16px;
  box-shadow: 5px 5px 30px;
  padding: 40px;
  color: #1b1b1b;
}

.enter-city {
  background: #fff8f3;
  border: none;
  padding: 30px 40px;
  display: inline-block;
  border-radius: 30px;

  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.enter-city:focus {
  color: #303133;
  background-color: #fff8f3;

  outline: 0;
  box-shadow: 2px 2px 8px 1px #1c6dd0;
}
#search-button {
  background-color: #ff7560;
  color: whitesmoke;
  border: none;
  font-weight: bold;
  padding: 30px 30px;
  display: inline-block;
  border-radius: 30px;
  font-size: 16px;
  height: 50px;
  line-height: 5px;
}
#search-button:focus {
  outline: 0;
  box-shadow: 2px 2px 8px 1px #1c6dd0;
}
