.aroundApp {
  max-width: 740px;
  margin: 70px auto;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 20px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.myWeather {
  font-family: "Mitr", sans-serif;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("nature.jpg");
  height: 701px;
  background-position: top;
  background-size: cover;

  border-radius: 15px;
  box-shadow: 6px 8px 40px #bf5412;
  border-radius: 16px;
  padding: 40px;
  color: #8b3703;
}

.enter-city {
  background: #fff8f3;
  font-family: "Roboto Mono", monospace;
  border: none;
  padding: 30px 40px;
  display: inline-block;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.enter-city:focus {
  background-color: #fff8f3;

  outline: 0;
  box-shadow: 2px 2px 8px 1px #feae93;
}
#search-button {
  background-color: #fff8f3;
  font-family: "Roboto Mono", monospace;
  color: #8b3703;
  border: none;
  font-weight: bold;
  padding: 30px 30px;
  display: inline-block;
  border-radius: 30px;
  font-size: 16px;
  height: 50px;
  line-height: 5px;
}
#search-button:focus {
  outline: 0;
  box-shadow: 2px 2px 8px 1px #feae93;
}

#current-weather.row {
  margin-top: 40px;
  border: 1px solid #fff8f3;
  border-radius: 4px;
}
.icon {
  padding: 5px;
  width: 150px;
  opacity: 0.8;
}

#weather-date {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}
#right-side {
  margin-top: 15px;
}
.temperature {
  font-size: 60px;
}
.units {
  position: relative;
  top: -20px;
  font-size: 29px;
  text-decoration: none;
}
.humid-wind {
  position: relative;
  font-weight: bolder;
  right: 32px;
  font-size: 20px;
}

.days-of-week {
  margin-top: 60px;
  text-align: center;
}

.day-forecast {
  opacity: 0.9;
  font-size: 30px;
}
.temperature-forecast {
  font-size: 25px;
}
.image-weather {
  opacity: 0.8;
}
.min-temp {
  opacity: 0.7;
}
#link-to-git {
  display: block;
  margin: zero auto;
  font-family: monospace;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}
